<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
    <link rel="stylesheet" href="../assets/css/admin-manager.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <title>Admin manager</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar" id="navbar">
                <div class="nav-bar">
                    <!--Navbar left -->
                    <div class="navbar-left">
                        <div class="left-logo">
                            <img src="/assets/images/logo-main.png" alt="Error" class="logo-img">
                        </div>
                    </div>
                    <!--Navbar middle-->
                    <div class="navbar-middle">
                        <a href="/admin" class="img-logo"></a>
                    </div>
                    <!--Navbar right after sign in-->
                    <div class="navbar-right-user" id="navbar-right-user" dislay="block">
                        <!--search-->
                        <div class="right-search">
                            <form action="" class="search-form">
                                <input type="text" name="search" placeholder="Search anything you want...">
                                <button class="btn-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!--showup user after user sign in complete-->
                        <div id="user" class="user">
                            <div class="user-avatar" id="user-avatar">
                                <img src="/assets/images/userPost/<%= avatar %>" id="user-img" class="user-img">
                                <ul class="user-menu" id="user-menu" style="display: none;">
                                    <li class="user-menu-item">
                                        <div class="user-name-container">
                                            <p id="user-name" class="user-name"> <%= name %> </p>
                                        </div>
                                    </li>
                                    <li class="user-menu-item">
                                        <div class="user-logout">
                                            <a href="/" onclick="logout()">Log out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content" id="content">
            <div class="side-bar">
                <select name="sort-brands" class="brands sort-form" id="brands">
                    <option selected hidden style="font-weight: bold;">Brands</option>
                    <option value="vans">Vans</option>
                    <option value="adidas">Adidas</option>
                    <option value="nike">Nike</option>
                    <option value="reebok">Reebok</option>
                    <option value="converse">Converse</option>
                    <option value="puma">Puma</option>
                    <option value="other">Orther</option>
                </select>
                <input type="text" name="collections" placeholder="Collections" class="collections sort-form">
                <input type="text" name="hashtag" placeholder="#HashTag" class="hashtag sort-form">
                <button class="btn-search sort-form">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            
            <table class="table-manager" border="1">
                <tr class="title-table">
                    <th class="title-name-user">Name user</th>
                    <th class="title-posts-img">Posts img</th>
                    <th class="title-posts-content">Post sort content</th>
                    <th class="title-posts-branch">Branch</th>
                    <th class="title-posts-hashtag">Hashtag</th>
                    <th class="title-controls">Controls</th>
                </tr>
                <!-- ------------------------------ -->
                <% posts.forEach(function (post) { %>
                <tr>
                    <td>Thanh Lãm</td>
                    <td class="">
                        <% for(var i=0 ; i< 1 ; i++) {%>
                        <img src="/assets/images/userPost/<%= post.image[0].filename %>" alt="" class="img-post">
                        <%}%>
                    </td>
                    <td class="post-content"> <%- post.status %></td>
                    <td> <%- post.brands %></td>
                    <td><%- post.hashtag %></td>
                    <td>
                        <form action="/posts/id" method="POST">
                            <input value="<%= post._id %>" id="<%= post._id %>" name="id" type="submit" style="display: none;" >
                            <!-- <a href="#id-post" class="read-more">Read more...</a> -->
                            <button value="<%= post._id %>" id="<%= post._id %>" name="id" type="submit" ><i class="fas fa-eye"></i>View full</button>
                        </form>
                        <form action="/<%= post.id %>?_method=DELETE" method="POST">
                            <button type="submit"><i class="fas fa-trash"></i> Delete </button>
                        </form>
                    </td>
                </tr>
                <% }) %>
                <!-- ------------------------------- -->
            </table>
            
        </div>
        <footer>
            <div class="footer-container">
                <div class="left-col">
                    <div class="social">
                        <a href="/instagram" target="_blank" title="collective on Instagram">
                            <i class="fab fa-instagram"> </i>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank" title="collective on facebook">
                            <i class="fab fa-facebook"> </i>
                        </a>
                        <a href="/pinterest" target="_blank" title="collective on Pinterest">
                            <i class="fab fa-pinterest-p"> </i>
                        </a>
                        <a href="https://youtube.com/" target="_blank" title="Find us on Youtube">
                            <i class="fab fa-youtube"> </i>
                        </a>
                    </div>
                    <p>© ShoesShelf 2020 | Created by N09-Team All Rights Reserved </p>
                </div>
                <div class="right-col">
                    <h1>Our Newsletter</h1>
                    <div class="border"></div>
                    <p>Enter your emails to connect with us.</p>
                    <form action="" class="newsletter">
                        <input type="text" class="txtbox" placeholder="Enter Your Email">
                        <input type="submit" class="btn" value="Submit">
                    </form>
                </div>
            </div>
        </footer>
    </div>
    <!--Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/header-footer.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="/assets/js/script.js"></script>
</body>

</html>