<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/styles.css?v=12042020">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/responsive-header-footer.css">
    <link rel="stylesheet" href="../assets//css/responsive-header-footer-index.css">
    <link rel="stylesheet" href="../assets/css/responsive-main.css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <title>Shoes Shelf</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar" id="navbar">
                <div class="nav-bar">
                    <!--Navbar left -->
                    <div class="navbar-left">
                        <div class="left-logo">
                            <img src="/assets/images/logo-main.png" alt="Error" class="logo-img">
                        </div>
                        <!--Menu hone, about, latest news-->
                        <ul class="left-menu" id="left-menu">
                            <li class="left-sub-menu">
                                <a href="" class="menu-item">Home</a>
                            </li>
                            <li class="left-sub-menu">
                                <a href="/about.html" class="menu-item">About us</a>
                            </li>
                            <li class="left-sub-menu">
                                <a href="latest-news" class="menu-item">Latest news</a>
                            </li>
                        </ul>
                    </div>
                    <!--Navbar middle-->
                    <div class="navbar-middle">
                        <a href="/" class="img-logo"></a>
                    </div>
                    <div class="navbar-right" id="navbar-right">
                        <!--Navbar right before sign in-->
                        <div class="right-menu">
                            <ul class="menu ">
                                <li class="right-sub-menu">
                                    <a class="hidden-show-up-menu menu-bars menu-item" title="Menu">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </li>
                                <li class="right-sub-menu hidden">
                                    <a href="/about.html" class="menu-item">About Us</a>
                                </li>
                                <li class="right-sub-menu hidden">
                                    <a href="/login" id="btn-sign-in" class="menu-item">Login</a>
                                </li>
                                <li class="right-sub-menu hidden">
                                    <a href="/register" id="btn-sign-up" class="menu-item">Register</a>
                                </li>
                                <li class="right-sub-menu hidden">
                                    <a class="hidden-show-up-menu close-menu menu-item" title="Close menu">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-search">
                            <form action="/search-status-index"  method="GET" class="search-form">
                                <input type="text" name="search" id="status" placeholder="Search anything you want...">
                                <button class="btn-search" type="submit" value="Search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="toggle-menu" id="btn-menu">
                        <i class="fas fa-bars" ></i>
                    </div>
                    <!--Navbar right after sign in-->
                    <div class="navbar-right-user" id="navbar-right-user">
                        <!--search-->
                        <div class="right-search">
                            <form action="/search-status-index"  method="GET" class="search-form">
                                <input type="text" name="search" id="status" placeholder="Search anything you want...">
                                <button class="btn-search" type="submit" value="Search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!--showup user after user sign in complete-->
                        <div id="user" class="user">
                            <div class="user-avatar">
                                <img src="" id="user-img" class="user-img">
                                <ul class="user-menu" id="user-menu" style="display: none;">
                                    <li class="user-menu-item">
                                        <div class="user-name-container">
                                            <p id="user-name" class="user-name">Name_User</p>
                                        </div>
                                    </li>
                                    <li class="user-menu-item">
                                        <a href="your-shelf">My Shelf</a>
                                    </li>
                                    <li class="user-menu-item">
                                        <a href="account-setting">Account setting</a>
                                    </li>
                                    <li class="user-menu-item">
                                        <div class="user-logout">
                                            <a href="/" onclick="logout()">Log out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="sidebar-index" id="sidebar-index">
                    <div class="dismiss" id="dismiss">
                        <i class="fas fa-times btn-close-sidebar"></i>
                    </div>
                    <ul class="sidebar-menu" id="sidebar-menu">
                        <li class="menu-item"">
                            <form action="/search-status"  method="GET" class="search-form">
                                <input type="text" name="search" id="status" placeholder="Search anything you want...">
                                <button class="btn-search" type="submit" value="Search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </li>
                        <li class="menu-item"">
                            <i class="fa fa-home"></i>
                            <a href="" >Home</a>
                        </li>
                        <li class="menu-item"">
                            <i class="fas fa-address-card"></i>
                            <a href="./about.html">About us</a>
                        </li>
                        <li class="menu-item"">
                            <i class="fas fa-sign-in-alt"></i>
                            <a href="/login" style="margin-left: 20px;">Login</a>
                        </li>
                        <li class="menu-item"">
                            <i class="fas fa-user-plus"></i>
                            <a href="/register">Register</a>
                        </li>
                    </ul>
                </div>
                <div id="overlay"></div>
            </nav>
            <div class="banner">
                <video class="banner-video" autoplay loop muted>
                    <source src="/assets/video/video-banner.mp4" type="video/mp4">
                </video>
            </div>
        </header>
        <div class="main-content" id="main-content">
            <!-- <button onclick="showImg360()">Show 360 images</button> -->
            <div class="list-posts">
                <% posts.forEach(function (post, k = 0) { %>
                    <div class="post-container">
                        <div class="posts">
                            <div id="slider">
                                <div id="carouselExampleInterval<%= k %>" class="carousel slide" data-ride="carousel" >
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-interval="5000">
                                            <img src="/assets/images/userPost/<%= post.image[0].filename %>" class="d-block w-100" alt="...">
                                        </div>
                                        <% for(var i=1 ; i < post.image.length ; i++) {%>
                                        <div class="carousel-item" data-interval="5000">
                                            <img src="/assets/images/userPost/<%= post.image[i].filename %>" class="d-block w-100" alt="...">
                                        </div>
                                        <%}%>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleInterval<%= k %>" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleInterval<%= k++ %>" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="post-title">
                                <div class="post-content">
                                    <%- post.status %>
                                </div>
                                <div class="post-hash-tag">
                                    <%= post.hashtag %>
                                </div>
                                <form action="/posts/id" method="POST">
                                    <input value="<%= post._id %>" id="<%= post._id %>" name="id" type="submit" style="display: none;">
                                    <!-- <a href="#id-post" class="read-more">Read more...</a> -->
                                    <label for="<%= post._id %>" class="read-more">Read more...</label>
                                </form>
                            </div>
                        </div>
                        <div class="status">
                            <p class="user-name"></p>
                            <p class="post-time">
                                <%= post.date %>
                            </p>
                        </div>
                    </div>
                <% }) %>
                <div class="post-container">
                    <div class="posts">
                        <div id="slider">
                            <ul class="slides">
                                <li class="slide">
                                    <img src="/assets/images/img360/2DC_3631.jpg" class="post-avatar"></img>
                                </li>
                            </ul>
                        </div>
                        <div class="post-title">
                            <div class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ab minima, cumque laborum pariatur in tenetur deserunt aliquam consequatur ducimus placeat sint vitae a ipsa dolorum nisi officia, enim dolore. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem eaque cum adipisci similique sequi.</div>
                            <div class="post-hash-tag">#Converse #FullColor</div>
                            <button onclick="showImg360()" class="btn-view-360">Show 360 images</button>
                            <form action="" method="POST">
                                <input value="" id="" name="id" type="submit" style="display: none;">
                                <!-- <a href="#id-post" class="read-more">Read more...</a> -->
                                <label for="" class="read-more">Read more...</label>
                            </form>
                        </div>
                    </div>
                    <div class="status">
                        <p class="user-name"></p>
                        <p class="post-time">3 minuter ago</p>
                    </div>
                </div>
            </div>
            <form action="/" method="GET" class="sort-container">
                <select name="search" class="brands sort-form" id="brands">
                    <option selected hidden style="font-weight: bold;">Brands</option>
                    <option value="vans">Vans</option>
                    <option value="adidas">Adidas</option>
                    <option value="nike">Nike</option>
                    <option value="reebok">Reebok</option>
                    <option value="converse">Converse</option>
                    <option value="puma">Puma</option>
                    <option value="other">Orther</option>
                </select>
                <input type="text" name="collections" placeholder="Collections" class="collections sort-form">
                <input type="text" name="hashtag" placeholder="#HashTag" class="hashtag sort-form">
                <button class="btn-search sort-form" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <footer>
            <div class="footer-container">
                <div class="left-col">
                    <div class="social">
                        <a href="/instagram" target="_blank" title="collective on Instagram">
                            <i class="fab fa-instagram"> </i>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank" title="collective on facebook">
                            <i class="fab fa-facebook"> </i>
                        </a>
                        <a href="/pinterest" target="_blank" title="collective on Pinterest">
                            <i class="fab fa-pinterest-p"> </i>
                        </a>
                        <a href="https://youtube.com/" target="_blank" title="Find us on Youtube">
                            <i class="fab fa-youtube"> </i>
                        </a>
                    </div>
                    <p>© ShoesShelf 2020 | Created by N09-Team All Rights Reserved </p>
                </div>
            <div class="right-col">
                <h1>Our Newsletter</h1>
                <div class="border"></div>
                <p>Enter your emails to connect with us.</p>
                <form action="" class="newsletter">
                    <input type="text" class="txtbox" placeholder="Enter Your Email">
                    <input type="submit" class="btn" value="Submit">
                </form>
            </div>
        </footer>
    </div>
    <!--Script-->
    <script src="/assets/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/header-footer.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/assets/js/j360.js"></script>
    <script src="/assets/js/main.js"></script>
    <!--JS api login facebook and google-->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async></script>
    <script src="/assets/js/load-login-fb-gg.js"></script>
    <div id="status"></div>


</body>

</html>