<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/index-main.css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <title>Shoes Shelf</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar" id="navbar">
                <div class="nav-bar">
                    <!--Navbar left -->
                    <div class="navbar-left">
                        <div class="left-logo">
                            <img src="/assets/images/logo-main.png" alt="Error" class="logo-img">
                        </div>
                        <!--Menu hone, about, latest news-->
                        <ul class="left-menu" id="left-menu">
                            <li class="left-sub-menu">
                                <a href="" class="menu-item">Home</a>
                            </li>
                            <li class="left-sub-menu">
                                <a href="./about.html" class="menu-item">About us</a>
                            </li>
                            <li class="left-sub-menu">
                                <a href="latest-news" class="menu-item">Latest news</a>
                            </li>
                        </ul>
                    </div>
                    <!--Navbar middle-->
                    <div class="navbar-middle">
                        <a href="/main" class="img-logo"></a>
                    </div>
                    <!--Navbar right after sign in-->
                    <div class="navbar-right-user" id="navbar-right-user" dislay="block">
                        <!--search-->
                        <div class="right-search">
                            <form action="" class="search-form">
                                <input type="text" name="search" placeholder="Search anything you want...">
                                <button class="btn-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!--showup user after user sign in complete-->
                        <div id="user" class="user">
                            <div class="user-avatar" id="user-avatar">
                                <img src="/assets/images/userPost/<%= avatar %>" id="user-img" class="user-img">
                                <ul class="user-menu" id="user-menu" style="display: none;">
                                    <li class="user-menu-item">
                                        <div class="user-name-container">
                                            <p id="user-name" class="user-name"> <%= name %> </p>
                                        </div>
                                    </li>
                                    <li class="user-menu-item">
                                        <a href="your-shelf">My Shelf</a>
                                    </li>
                                    <li class="user-menu-item">
                                        <a href="account-setting">Account setting</a>
                                    </li>
                                    <li class="user-menu-item">
                                        <div class="user-logout">
                                            <a href="/" onclick="logout()">Log out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
            <div class="banner">
                <video class="banner-video" autoplay loop muted>
            <source src="/assets/video/video-banner.mp4" type="video/mp4">
          </video>
            </div>
        </header>
        <div class="main-content" id="main-content">
            <!-- <button onclick="showImg360()">Show 360 images</button> -->
            <div class="list-posts">
                <% posts.forEach(function (post) { %>
                <div class="post-container">
                    <div class="posts">
                        <% for(var i=0 ; i< 1 ; i++) {%>
                        <img src="/assets/images/userPost/<%= post.image[0].filename %>" class="post-avatar"></img>
                        <%}%>
                        <div class="post-title">
                            <div class="post-content" ><%- post.status %></div>
                            <div class="post-hash-tag"><%= post.hashtag %></div>
                            <form action="/posts/id" method="POST">
                                <input value="<%= post._id %>" id="<%= post._id %>" name="id" type="submit" style="display: none;" >
                                <!-- <a href="#id-post" class="read-more">Read more...</a> -->
                                <label for="<%= post._id %>" class="read-more">Read more...</label>
                            </form>
                        </div>
                    </div>
                    <div class="status">
                        <p class="user-name"></p>
                        <p class="post-time"><%= post.date %></p>
                    </div>
                </div>
                <% }) %>
                <div class="post-container">
                    <div class="posts">
                        <img src="/assets/images/img360/2DC_3631.jpg" class="post-avatar"></img>
                        <div class="post-title">
                            <div class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ab minima, cumque laborum pariatur in tenetur deserunt aliquam consequatur ducimus placeat sint vitae a ipsa dolorum nisi officia, enim dolore. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem eaque cum adipisci similique sequi.</div>
                            <div class="post-hash-tag">#Converse #FullColor</div>
                            <button onclick="showImg360()" class="btn-view-360">Show 360 images</button>
                            <a href="#id-post" class="read-more">Read more...</a>
                        </div>
                    </div>
                    <div class="status">
                        <p class="user-name"></p>
                        <p class="post-time">3 minuter ago</p>
                    </div>
                </div>
            </div>
            <form action="/main" method="GET" class="">
                <div class="sort-container">
                    <select name="search" class="brands sort-form" id="brands">
                        <option selected hidden style="font-weight: bold;">Brands</option>
                        <option value="vans">Vans</option>
                        <option value="adidas">Adidas</option>
                        <option value="nike">Nike</option>
                        <option value="reebok">Reebok</option>
                        <option value="converse">Converse</option>
                        <option value="puma">Puma</option>
                        <option value="orther">Orther</option>
                    </select>
                    <button class="btn-search sort-form" type="submit" >
                        <i class="fas fa-search" ></i>
                    </button>
                </div>
            </form>
        </div>
        <footer>
            <div class="footer-container">
                <div class="left-col">
                    <div class="social">
                        <a href="/instagram" target="_blank" title="collective on Instagram">
                            <i class="fab fa-instagram"> </i>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank" title="collective on facebook">
                            <i class="fab fa-facebook"> </i>
                        </a>
                        <a href="/pinterest" target="_blank" title="collective on Pinterest">
                            <i class="fab fa-pinterest-p"> </i>
                        </a>
                        <a href="https://youtube.com/" target="_blank" title="Find us on Youtube">
                            <i class="fab fa-youtube"> </i>
                        </a>
                    </div>
                    <p>© ShoesShelf 2020 | Created by N09-Team All Rights Reserved </p>
                </div>
                <div class="right-col">
                    <h1>Our Newsletter</h1>
                    <div class="border"></div>
                    <p>Enter your emails to connect with us.</p>
                    <form action="" class="newsletter">
                        <input type="text" class="txtbox" placeholder="Enter Your Email">
                        <input type="submit" class="btn" value="Submit">
                    </form>
                </div>
            </div>
        </footer>
    </div>
    <!--Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/header-footer.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/assets/js/j360.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async></script>
    <script src="/assets/js/api-gg-fb-login.js"></script>
    <div id="status"></div>
   
    <script src="/assets/js/script.js"></script>
</body>

</html>